language: julia
os:
  - linux
julia:
  - 1.0
notifications:
  email: false
git:
  depth: 99999999
cache:
  timeout: 1000
  directories:
    - downloads
env:
  global:
    - BINARYBUILDER_DOWNLOADS_CACHE=downloads
    - BINARYBUILDER_AUTOMATIC_APPLE=true
  # Our build takes too long for one job, so split targets across multiple jobs
  # triplets come from using BinaryBuilder; triplet.(supported_platforms())
  matrix:
    - TARGET=i686-linux-gnu
    - TARGET=x86_64-linux-gnu
    - TARGET=aarch64-linux-gnu
    - TARGET=arm-linux-gnueabihf
    - TARGET=powerpc64le-linux-gnu
    - TARGET=i686-linux-musl
    - TARGET=x86_64-linux-musl
    - TARGET=aarch64-linux-musl
    - TARGET=arm-linux-musleabihf
    - TARGET=x86_64-apple-darwin14
    - TARGET=x86_64-unknown-freebsd11.1
    - TARGET=i686-w64-mingw32
    - TARGET=x86_64-w64-mingw32
sudo: required

jobs:
  include:
    - stage: regenerate build.jl
      script: julia --color=yes build_tarballs.jl --only-buildjl
      if: tag IS present

# Before anything else, get the latest versions of things
before_script:
  - julia --color=yes -e 'using Pkg;
      Pkg.add(PackageSpec(name="BinaryProvider", rev="master"));
      Pkg.add(PackageSpec(name="BinaryBuilder", rev="master"))'

script:
  - julia --color=yes build_tarballs.jl $TARGET

deploy:
    provider: releases
    api_key:
        # Note; this api_key is only valid for MaximeBouton/LibSpatialIndexBuilder; you need
        # to make your own: https://docs.travis-ci.com/user/deployment/releases/
        secure: WNWegAKl3+Vu0k0HrFiRWoJfdgpClchJI2j77tfYTWLhTFCyH3BrijvhLOmCtNTwAVinR1aFm4/MPS4agaRdtQaY5VQj2p77XPTxHoFunjafOh1UN1zayf4Pzm1IozFJIJZBmtWyg7gCxME5LajZLW9kp0gCElrZiFEhiqPlrhfyCTN9fErTkiEypj1uJor8A5TuEpo6kGWH/Xy8N+vRHAoE+sGGrMuW5J0OIAS+z9f7CsgfWqjBE3BXqOxdeuy+CMvs6CW4eBO1r1Ah09qxdTpJSd06Eu6SlDkJ+8nT2AL5ZczskmfdIgM8nDpxxkv73guyGHrcBKceOeDF379f29TgR7i3kQPm+zOE0Bbt0iXkb0eSceORTbOm9e56ZQtfmV5fK11s9N2xCeBd+Cd+t0xDPDxFM1vFBpP7NUYhqRwkT7ndY4JTB/EdDqS6nRxGDmd524gvfe5KYtGLvHUjG1RqV421/DZEM7vA/l9wq+AoljLYxb1VXS5Dw9ueCe8sgxdVYBTpO28A/rCzT33pUPAM4mx4RhszNK5udZ/jaYCGXB6fedf0S36nh75Eve1cv0LBYDGBY3VHkkXnN6OSnnUG/r2WKPUUvtv8L7mb9myyvZdGBtuybUA5wiUfj1vBbQfQjtLingnjE33VT9+oBwuwtyzZLMxzcii1PyCzuf8=
    file_glob: true
    file: products/*
    skip_cleanup: true
    on:
        repo: MaximeBouton/LibSpatialIndexBuilder
        tags: true
